@model KampusLearn.Models.Course


    <div class="card-header bg-primary">
        <p class="text-md-center display-4">@Model.CourseName</p>
    </div>
    <div class="card-body">
        <img class="card-img" src="/images/dCore.png"/>
        <p>@Model.Technology</p>
    </div>